
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: #F0336D;
}
h1,p,h2{
    padding-bottom: 20px;
    font-family: "Antonio", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: black;
}

h1{
    font-size: 21px;
    font-weight: 100;
}
body{
    background-color: #E2E3E7;
    color: white;
}
.desktop{
    display: none;
}
.mobile{
    background-image: url(/assets/gallery/Sem\ freio\,\ sem\ padrao\,\ so\ presenca.\ Its\ Owlsize\ EM\ BREVE\ NOVIDADES\ Story.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
}

.midias{
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 45rem;
    flex-flow: column;
    justify-content: end;
    padding: 0px 30px;
}
@media (min-width: 680px) {
    body{
        background-color: white;
    }
    .mobile{
        display: none;
    }
    .desktop{
        display: block;
    }
    .desktop__images{
        display: flex;
        justify-content: center;
    }
    .desktop__text{
        text-align: center;
    }
}